.Book{
    color: var(--color-info);
    width: 90%;
    max-width: 400px;
    margin: 0 auto 2rem;
    border-radius: 3rem;
    background: var(--color-bg-info);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem 2rem;
}

.Book-content{
    display: flex;
    margin-bottom: 1rem;
    align-self: flex-start;
}

.Book a{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10rem;
    height: 2.5rem;
    color: var(--color-primary);
    text-decoration: none;
    border: 1px solid var(--color-border);
    border-radius: 1rem;
    transition: 0.2s;
}

.Book a:hover{
    color: var(--color-bg);
    background: var(--color-border);
}